.restinfo{
    border: 0px solid black;
    border-collapse: collapse;
}

.headname, .tableitems{
    padding: 25px;
    text-align: left;
}

.incDec {
    text-align: center;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 30px;
    height: 30px;
  }
  
  .incDec::-webkit-inner-spin-button,
  .incDec::-webkit-outer-spin-button,
  .incDec:focus {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
  }

  .headname{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 29, 0);
  }

  .tableitems{
    font-size: 15px;
  }

  h2{
    position: absolute;
    top: 50%;
    left: 30%;
  }